/coletas
SentiStrength.jar
/coleta_TCC_II/codes/converting_files/bolsonaro/Word_cloud/Generating_texts/text_word_cloud_agosto.txt
/coleta_TCC_II/codes/converting_files/bolsonaro/Word_cloud/Generating_texts/text_word_cloud_setembro.txt
/coleta_TCC_II/codes/converting_files/bolsonaro/Word_cloud/Generating_texts/text_word_cloud_outubro.txt
/coleta_TCC_II/codes/converting_files/bolsonaro/Word_cloud/Generating_texts/text_word_cloud_novembro.txt
/coleta_TCC_II/codes/converting_files/bolsonaro/Word_cloud/Generating_texts/text_word_cloud_dezembro.txt
/coleta_TCC_II/codes/converting_files/bolsonaro/Word_cloud/Generating_texts/text_word_cloud_todos.txt
/coleta_TCC_II/codes/converting_files/haddad/Word_cloud/Generating_texts/text_word_cloud_agosto.txt
/coleta_TCC_II/codes/converting_files/haddad/Word_cloud/Generating_texts/text_word_cloud_setembro.txt
/coleta_TCC_II/codes/converting_files/haddad/Word_cloud/Generating_texts/text_word_cloud_outubro.txt
/coleta_TCC_II/codes/converting_files/haddad/Word_cloud/Generating_texts/text_word_cloud_novembro.txt
/coleta_TCC_II/codes/converting_files/haddad/Word_cloud/Generating_texts/text_word_cloud_dezembro.txt
/coleta_TCC_II/codes/converting_files/haddad/Word_cloud/Generating_texts/text_word_cloud_todos.txt
*.csv
*.tsv